@model Hotel_Booking.Models.ChambreNew

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ChambreNew</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Capacite" class="control-label"></label>
                <input asp-for="Capacite" class="form-control" />
                <span asp-validation-for="Capacite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionChambre" class="control-label"></label>
                <input asp-for="DescriptionChambre" class="form-control" />
                <span asp-validation-for="DescriptionChambre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatutChambre" class="control-label"></label>
                <select asp-for="StatutChambre" class="form-control" asp-items="@(new SelectList(ViewBag.StatusOptions))">
                    <option value="">-- Select Status --</option>
                </select>
                <span asp-validation-for="StatutChambre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TarifParNuit" class="control-label"></label>
                <input asp-for="TarifParNuit" class="form-control" />
                <span asp-validation-for="TarifParNuit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeChambre" class="control-label"></label>
                <input asp-for="TypeChambre" class="form-control" />
                <span asp-validation-for="TypeChambre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="photoUrl">Upload Photo</label>
                <input type="file" name="photoUrl" id="photoUrl" class="form-control" />
                <span asp-validation-for="PhotoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
