@page
@model Hotel_Booking.Views.Home.AboutModel

@* about.cshtml *@
@{
  
    Layout = "_Layout"; // Specify the layout to be used
}

<!-- about us -->
<section class="about py-5">
    <div class="container">
        <div class="text-center">
            <h3 class="text-decoration-underline">
                <a asp-controller="Home" asp-action="About" class="text-uppercase text-dark text-decoration-none ls-3 text-muted">
                    About Our Hotel
                </a>
            </h3>
        </div>

        <div class="row mt-5">
            <div class="col-md-5 p-3">
                <img src="~/img/hotel.jpg" class="img-fluid w-100" alt="Hotel Image">
            </div>
            <div class="col-md-7 p-3">
                <h4>
                    Hotel Name
                </h4>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, veniam, dolor quam ipsam amet
                    doloremque omnis molestias nemo dignissimos ut sunt laboriosam pariatur mollitia accusantium!
                    Eveniet voluptatem, exercitationem voluptates optio nobis ipsum at voluptate odio quasi ad rerum
                </p>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, veniam, dolor quam ipsam amet
                    doloremque omnis molestias nemo dignissimos ut sunt laboriosam pariatur mollitia accusantium!
                    Eveniet voluptatem, exercitationem voluptates optio nobis ipsum at voluptate odio quasi ad rerum
                </p>
            </div>
        </div>
        <div class="row mt-5">

            <div class="col-md-7 p-3">
                <h4>
                    Success History
                </h4>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, veniam, dolor quam ipsam amet
                    doloremque omnis molestias nemo dignissimos ut sunt laboriosam pariatur mollitia accusantium!
                    Eveniet voluptatem, exercitationem voluptates optio nobis ipsum at voluptate odio quasi ad rerum
                </p>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, veniam, dolor quam ipsam amet
                    doloremque omnis molestias nemo dignissimos ut sunt laboriosam pariatur mollitia accusantium!
                    Eveniet voluptatem, exercitationem voluptates optio nobis ipsum at voluptate odio quasi ad rerum
                </p>
            </div>
            <div class="col-md-5 p-3">
                <img src="~/img/hotel-2.jpg" class="img-fluid w-100" alt="Hotel 2 Image">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-5 p-3">
                <img src="~/img/chairperson.jpg" class="img-fluid w-100" alt="Chairperson Image">
            </div>
            <div class="col-md-7 p-3">
                <h4>
                    Chairperson's Message
                </h4>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, veniam, dolor quam ipsam amet
                    doloremque omnis molestias nemo dignissimos ut sunt laboriosam pariatur mollitia accusantium!
                    Eveniet voluptatem, exercitationem voluptates optio nobis ipsum at voluptate odio quasi ad rerum
                </p>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, veniam, dolor quam ipsam amet
                    doloremque omnis molestias nemo dignissimos ut sunt laboriosam pariatur mollitia accusantium!
                    Eveniet voluptatem, exercitationem voluptates optio nobis ipsum at voluptate odio quasi ad rerum
                </p>
            </div>

        </div>
    </div>
</section>
<!-- about us -->
<!-- our gallery -->
<section class="gallery py-5">
    <div class="container">
        <h3 class=" mb-4">
            <a class="text-uppercase text-dark text-decoration-none ls-3 text-muted">
                Gallery
            </a>
        </h3>
        <div class="gallery-grid">
            <div class="img-holder position-relative overflow-hidden">
                <img src="~/img/1.jpg" class="img-fluid w-100" alt="Gallery Image 1">
                <div class="info">
                    <h3>
                        <a href="#" class="text-decoration-none text-white">Hotel Name</a>
                    </h3>
                    <p class="text-white">$100/Night</p>
                </div>
            </div>

            <div class="img-holder position-relative overflow-hidden">
                <img src="~/img/2.jpg" class="img-fluid w-100" alt="Gallery Image 2">
                <div class="info">
                    <h3>
                        <a href="#" class="text-decoration-none text-white">Hotel Name</a>
                    </h3>
                    <p class="text-white">$100/Night</p>
                </div>
            </div>
            <div class="img-holder position-relative overflow-hidden">
                <img src="~/img/3.jpg" class="img-fluid w-100" alt="Gallery Image 3">
                <div class="info">
                    <h3>
                        <a href="#" class="text-decoration-none text-white">Hotel Name</a>
                    </h3>
                    <p class="text-white">$100/Night</p>
                </div>
            </div>
            <div class="img-holder position-relative overflow-hidden">
                <img src="~/img/4.jpg" class="img-fluid w-100" alt="Gallery Image 4">
                <div class="info">
                    <h3>
                        <a href="#" class="text-decoration-none text-white">Hotel Name</a>
                    </h3>
                    <p class="text-white">$100/Night</p>
                </div>
            </div>
            <div class="img-holder position-relative overflow-hidden">
                <img src="~/img/5.jpg" class="img-fluid w-100" alt="Gallery Image 5">
                <div class="info">
                    <h3>
                        <a href="#" class="text-decoration-none text-white">Hotel Name</a>
                    </h3>
                    <p class="text-white">$100/Night</p>
                </div>
            </div>
            <div class="img-holder position-relative overflow-hidden">
                <img src="~/img/6.jpg" class="img-fluid w-100" alt="Gallery Image 6">
                <div class="info">
                    <h3>
                        <a href="#" class="text-decoration-none text-white">Hotel Name</a>
                    </h3>
                    <p class="text-white">$100/Night</p>
                </div>
            </div>
            <div class="img-holder position-relative overflow-hidden">
                <img src="~/img/7.jpg" class="img-fluid w-100" alt="Gallery Image 7">
                <div class="info">
                    <h3>
                        <a href="#" class="text-decoration-none text-white">Hotel Name</a>
                    </h3>
                    <p class="text-white">$100/Night</p>
                </div>
            </div>
            <div class="img-holder position-relative overflow-hidden">
                <img src="~/img/8.jpg" class="img-fluid w-100" alt="Gallery Image 8">
                <div class="info">
                    <h3>
                        <a href="#" class="text-decoration-none text-white">Hotel Name</a>
                    </h3>
                    <p class="text-white">$100/Night</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our gallery -->