@* Contact.cshtml *@
@{
    ViewData["Title"] = "Contact Us"; // Setting the page title
    Layout = "_Layout"; // Specify the layout to be used
}

<!-- contact us -->
<section class="contact py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
             
                    <h3 class="mb-4">
                        <a class="text-uppercase text-dark text-decoration-none ls-3 text-muted">
                            Contact Information
                        </a>
                    </h3>
                    <p class="lead">
                        Email: <a href="mailto:test@test.com"
                                  class="test-primary text-decoration-none">test@test.com</a>
                    </p>
                    <p class="lead">
                        Phone: <a href="tel:123456789" class="test-primary text-decoration-none">123456789</a>
                    </p>
                    <p class="lead">
                        Address: <a href="https://goo.gl/maps/4Z5Z9Z9Z9Z9Z9Z9Z9"
                                    class="test-primary text-decoration-none" target="_blank" rel="noopener noreferrer">Rabat,Maroc</a>
                    </p>
                    <p class="lead">
                        Website: <a href="https://www.google.com/" class="test-primary text-decoration-none"
                                    target="_blank" rel="noopener noreferrer">www.google.com</a>
                    </p>
               
            </div>
            <div class="col-md-6">
                <h3 class="mb-4">
                    <a class="text-uppercase text-dark text-decoration-none ls-3 text-muted">
                        Our Location
                    </a>
                </h3>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3533.1422000000003!2d85.3333333150075!3d27.71666698280355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb18f0f5c5b8d7%3A0x6b8e3b2b2b3b3b3b!2s
                            Kathmandu%20University%20School%20of%20Engineering!5e0!3m2!1sen!2snp!4v1629200000000!5m2!1sen!2snp"
                            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            title="Location Map"></iframe>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact us -->
<!-- our gallery -->
<section class="gallery py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-3">
                <h3 class="mb-4">
                    <a class="text-uppercase text-dark text-decoration-none ls-3 text-muted">
                        Gallery
                    </a>
                </h3>
                <div class="gallery-grid">
                    <div class="img-holder position-relative overflow-hidden">
                        <img src="~/img/1.jpg" class="img-fluid w-100" alt="Gallery Image 1">
                        <div class="info">
                            <h5>
                                <a href="#" class="text-decoration-none text-white">Hotel Name</a>
                            </h5>
                            <p class="text-white mb-0">$100/Night</p>
                        </div>
                    </div>

                    <div class="img-holder position-relative overflow-hidden">
                        <img src="~/img/2.jpg" class="img-fluid w-100" alt="Gallery Image 2">
                        <div class="info">
                            <h5>
                                <a href="#" class="text-decoration-none text-white">Hotel Name</a>
                            </h5>
                            <p class="text-white mb-0">$100/Night</p>
                        </div>
                    </div>
                    <div class="img-holder position-relative overflow-hidden">
                        <img src="~/img/3.jpg" class="img-fluid w-100" alt="Gallery Image 3">
                        <div class="info">
                            <h5>
                                <a href="#" class="text-decoration-none text-white">Hotel Name</a>
                            </h5>
                            <p class="text-white mb-0">$100/Night</p>
                        </div>
                    </div>
                    <div class="img-holder position-relative overflow-hidden">
                        <img src="~/img/4.jpg" class="img-fluid w-100" alt="Gallery Image 4">
                        <div class="info">
                            <h5>
                                <a href="#" class="text-decoration-none text-white">Hotel Name</a>
                            </h5>
                            <p class="text-white mb-0">$100/Night</p>
                        </div>
                    </div>
                    <div class="img-holder position-relative overflow-hidden">
                        <img src="~/img/5.jpg" class="img-fluid w-100" alt="Gallery Image 5">
                        <div class="info">
                            <h5>
                                <a href="#" class="text-decoration-none text-white">Hotel Name</a>
                            </h5>
                            <p class="text-white mb-0">$100/Night</p>
                        </div>
                    </div>
                    <div class="img-holder position-relative overflow-hidden">
                        <img src="~/img/6.jpg" class="img-fluid w-100" alt="Gallery Image 6">
                        <div class="info">
                            <h5>
                                <a href="#" class="text-decoration-none text-white">Hotel Name</a>
                            </h5>
                            <p class="text-white mb-0">$100/Night</p>
                        </div>
                    </div>
                    <div class="img-holder position-relative overflow-hidden">
                        <img src="~/img/7.jpg" class="img-fluid w-100" alt="Gallery Image 7">
                        <div class="info">
                            <h5>
                                <a href="#" class="text-decoration-none text-white">Hotel Name</a>
                            </h5>
                            <p class="text-white mb-0">$100/Night</p>
                        </div>
                    </div>
                    <div class="img-holder position-relative overflow-hidden">
                        <img src="~/img/8.jpg" class="img-fluid w-100" alt="Gallery Image 8">
                        <div class="info">
                            <h5>
                                <a href="#" class="text-decoration-none text-white">Hotel Name</a>
                            </h5>
                            <p class="text-white mb-0">$100/Night</p>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>
    </div>
</section>
<!-- our gallery -->