@* Index.cshtml *@
@{
    ViewData["Title"] = "Home"; // Setting the page title
    Layout = "_Layout"; // Specify the layout to be used
}

<!-- hero -->
<section class="hero">
    <div class="container">
        <div class="offer bg-white  d-inline-flex m-auto">
        
        </div>

      
    </div>
</section>
<!-- hero -->
<!-- about us -->
<section class="about py-5">
    <div class="container">
        <div class="text-center">
            <h4>
                <a asp-controller="Home" asp-action="About" class="text-uppercase text-dark text-decoration-none ls-3 text-muted">
                    Little About Us
                </a>
            </h4>

            <p class="lead">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi magnam culpa, quasi tempore vel
                obcaecati harum officia, explicabo iste minima necessitatibus, nostrum similique architecto dicta
                eum iure cum labore id pariatur a ut sit non? Debitis iure nulla nihil est in beatae necessitatibus
                quos dolorum, reiciendis vero praesentium ducimus, iste fuga maxime quasi aut assumenda sed minus
                soluta recusandae qui! Facilis quam amet repudiandae cupiditate minima aspernatur molestias
                consequuntur voluptates, velit aut quia voluptate obcaecati delectus maiores eligendi cumque libero
                quaerat similique! Nisi dignissimos maxime placeat fugiat vero rerum aliquam, mollitia doloribus
                quam consequuntur. Numquam sit aliquid sapiente molestiae est!
            </p>
            <p class="lead">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi magnam culpa, quasi tempore vel
                obcaecati harum officia, explicabo iste minima necessitatibus, nostrum similique architecto dicta
                eum iure cum labore id pariatur a ut sit non? Debitis iure nulla nihil est in beatae necessitatibus
                quos dolorum, reiciendis vero praesentium ducimus, iste fuga maxime quasi aut assumenda sed minus
                soluta recusandae qui! Facilis quam amet repudiandae cupiditate minima aspernatur molestias
                consequuntur voluptates, velit aut quia voluptate obcaecati delectus maiores eligendi cumque libero
                quaerat similique! Nisi dignissimos maxime placeat fugiat vero rerum aliquam, mollitia doloribus
                quam consequuntur. Numquam sit aliquid sapiente molestiae est!
            </p>
            <a asp-controller="Home" asp-action="About" class="btn btn-orange mt-5">
                Read More
            </a>
        </div>
    </div>
</section>
<!-- about us -->